.pub-sidebar-nav {
    padding: 0;
    list-style: none;
}

.header-container {
    margin: 0 auto;
    width: 80%;
}

.pub-sidebar {
    margin: 20px;
    display: inline-block;
}

.pub-post-header {
    margin: 20px;
    display: inline-block;
}

.pub-search {
    margin: 20px;
    display: inline-block;
    min-width: 20%;
}

.pub-content-container {
    margin: 20px;
}

.pub-content {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.pub-grid-tables {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

.pub-table-zero {
    background-image: url("/static/images/table.png");
    width: 300px;
    height: 207px;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pub-table-one {
    background-image: url("/static/images/table.png");
    width: 300px;
    height: 207px;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pub-table-two {
    background-image: url("/static/images/mini-table.png");
    width: 250px;
    height: 173px;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pub-table-three {
    background-image: url("/static/images/mini-table.png");
    width: 250px;
    height: 173px;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pub-table-four {
    background-image: url("/static/images/mini-table.png");
    width: 250px;
    height: 173px;
    margin: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pub-table-five {
    background-image: url("/static/images/table.png");
    width: 300px;
    height: 207px;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pub-table-six {
    background-image: url("/static/images/mini-table.png");
    width: 250px;
    height: 173px;
    margin: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pub-booking {
    width: 60%;
    margin: 0 auto;
    padding: 1%;
}

.pub-div-border {
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background-color: white;
}

.err-span {
    color: red;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: url("/static/images/main-background.jpg");
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

form {
    position: relative;
    width: 300px;
}

input {
    width: 85%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
}

button {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:before {
    content: "\f002";
    font-size: 16px;
    color: white;
}

a.text:active,
a.text:hover,
a.text,
a {
    position: relative;
    text-decoration: none;
    color: #7BA7AB;
}

.center-text {
    font-size: 20px;
    width: 100%;
    margin: auto;
    position: absolute;
    color: black;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}