{% extends "base_generic.html" %}
{% block content %}
    <div class="pub-content pub-div-border">
        <h2>Схема расположения столов</h2>
    </div>
    <div class="pub-grid-tables pub-div-border">
        <a href="/pub/table/1" class="pub-table-zero"><p class="center-text">1</p></a>
        <a href="/pub/table/2" class="pub-table-one"><p class="center-text">2</p></a>
        <a href="/pub/table/3" class="pub-table-two"><p class="center-text">3</p></a>
        <a href="/pub/table/4" class="pub-table-three"><p class="center-text">4</p></a>
        <a href="/pub/table/5" class="pub-table-four"><p class="center-text">5</p></a>
        <a href="/pub/table/6" class="pub-table-five"><p class="center-text">6</p></a>
        <a href="/pub/table/7" class="pub-table-six"><p class="center-text">7</p></a>
    </div>
{% endblock %}